In [1]:
import pandas as pd
import numpy as np
import io
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
sns.set_style('whitegrid')

In [2]:
training_data = pd.read_csv("../Data_in_csv/sample.csv",na_values="na")
training_data.head()

,Course,Section,Faculty,Time,Room,Seats Available
0,ACT201,1.0,RNH,MW 01:00 PM - 02:30 PM,NAC201,0.0
1,ACT201,2.0,TsA,MW 08:00 AM - 09:30 AM,NAC311,0.0
2,ACT201,3.0,MdM,MW 02:40 PM - 04:10 PM,NAC201,0.0
3,ACT201,4.0,HHq1,MW 04:20 PM - 05:50 PM,NAC210,0.0
4,ACT201,5.0,ASy,MW 09:40 AM - 11:10 AM,NAC201,0.0

In [3]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2754 entries, 0 to 2753
Data columns (total 6 columns):
Course             2754 non-null object
Section            2730 non-null float64
Faculty            2730 non-null object
Time               2730 non-null object
Room               2706 non-null object
Seats Available    2706 non-null float64
dtypes: float64(2), object(4)
memory usage: 129.2+ KB

In [5]:
training_data.keys()

Index(['Course ', 'Section ', 'Faculty ', 'Time ', 'Room ', 'Seats Available'], dtype='object')

In [6]:
X = training_data.drop('Faculty ',axis=1)
y = training_data['Faculty ']

In [8]:
X = X.drop('Seats Available',axis=1)

In [ ]:
X = X.drop('Section ',axis=1)

In [30]:
X.head()

   Course                     Time     Room
0  ACT201   MW 01:00 PM - 02:30 PM   NAC201
1  ACT201   MW 08:00 AM - 09:30 AM   NAC311
2  ACT201   MW 02:40 PM - 04:10 PM   NAC201
3  ACT201   MW 04:20 PM - 05:50 PM   NAC210
4  ACT201   MW 09:40 AM - 11:10 AM   NAC201

In [31]:
y.head()

0     RNH
1     TsA
2     MdM
3    HHq1
4     ASy
Name: Faculty , dtype: object

In [48]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [66]:
sample = X.copy()

In [67]:
X.head()

   Course                     Time     Room
0        7  MW 01:00 PM - 02:30 PM   NAC201
1        7  MW 08:00 AM - 09:30 AM   NAC311
2        7  MW 02:40 PM - 04:10 PM   NAC201
3        7  MW 04:20 PM - 05:50 PM   NAC210
4        7  MW 09:40 AM - 11:10 AM   NAC201

In [68]:
sample['Course '] = le.fit_transform(sample['Course '])

In [70]:
sample.head()

   Course                     Time     Room
0        7  MW 01:00 PM - 02:30 PM   NAC201
1        7  MW 08:00 AM - 09:30 AM   NAC311
2        7  MW 02:40 PM - 04:10 PM   NAC201
3        7  MW 04:20 PM - 05:50 PM   NAC210
4        7  MW 09:40 AM - 11:10 AM   NAC201

In [73]:
sample.keys()

Index(['Course ', 'Time ', 'Room '], dtype='object')

In [83]:
sample['Room '] = str(sample['Room '])

In [84]:
le.fit_transform(sample['Room '])

array([0, 0, 0, ..., 0, 0, 0])

In [91]:
temp = training_data.copy()

In [96]:
for i in range(2754):
    temp['Room '][i] = str(temp['Room '][i])

In [97]:
temp.head()

,Course,Section,Faculty,Time,Room,Seats Available
0,ACT201,1.0,RNH,MW 01:00 PM - 02:30 PM,NAC201,0.0
1,ACT201,2.0,TsA,MW 08:00 AM - 09:30 AM,NAC311,0.0
2,ACT201,3.0,MdM,MW 02:40 PM - 04:10 PM,NAC201,0.0
3,ACT201,4.0,HHq1,MW 04:20 PM - 05:50 PM,NAC210,0.0
4,ACT201,5.0,ASy,MW 09:40 AM - 11:10 AM,NAC201,0.0

In [99]:
temp['Room '] = le.fit_transform(temp['Room '])

In [100]:
temp.head()

   Course   Section  Faculty                     Time   Room   Seats Available
0  ACT201        1.0     RNH   MW 01:00 PM - 02:30 PM      29              0.0
1  ACT201        2.0     TsA   MW 08:00 AM - 09:30 AM      54              0.0
2  ACT201        3.0     MdM   MW 02:40 PM - 04:10 PM      29              0.0
3  ACT201        4.0    HHq1   MW 04:20 PM - 05:50 PM      38              0.0
4  ACT201        5.0     ASy   MW 09:40 AM - 11:10 AM      29              0.0

In [101]:
temp['Time '] = le.fit_transform(temp['Time '])

TypeError: '<' not supported between instances of 'str' and 'float'

# Model Implementation

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_predict,cross_val_score
from sklearn.metrics import roc_auc_score,roc_curve
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_squared_error

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [38]:
logmodel = LogisticRegression()

In [39]:
linearModel = LinearRegression()

In [40]:
linearModel.fit(X_train,y_train)

ValueError: could not convert string to float: 'BUS498 '