In [38]:
import pandas as pd
import numpy as np
import io
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
sns.set_style('whitegrid')

In [39]:
training_data = pd.read_csv("../Data_in_csv/sample.csv")
training_data.head()

,Course,Section,Faculty,Time,Room,Seats Available
0,ACT201,1.0,RNH,MW 01:00 PM - 02:30 PM,NAC201,0.0
1,ACT201,2.0,TsA,MW 08:00 AM - 09:30 AM,NAC311,0.0
2,ACT201,3.0,MdM,MW 02:40 PM - 04:10 PM,NAC201,0.0
3,ACT201,4.0,HHq1,MW 04:20 PM - 05:50 PM,NAC210,0.0
4,ACT201,5.0,ASy,MW 09:40 AM - 11:10 AM,NAC201,0.0

In [40]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2754 entries, 0 to 2753
Data columns (total 6 columns):
Course             2754 non-null object
Section            2730 non-null float64
Faculty            2730 non-null object
Time               2730 non-null object
Room               2706 non-null object
Seats Available    2706 non-null float64
dtypes: float64(2), object(4)
memory usage: 129.2+ KB

In [41]:
training_data.keys()

Index(['Course ', 'Section ', 'Faculty ', 'Time ', 'Room ', 'Seats Available'], dtype='object')

In [42]:
X = training_data.drop(['Faculty ','Seats Available'],axis=1)
y = training_data['Faculty ']

In [43]:
X.head()

   Course   Section                     Time     Room
0  ACT201        1.0  MW 01:00 PM - 02:30 PM   NAC201
1  ACT201        2.0  MW 08:00 AM - 09:30 AM   NAC311
2  ACT201        3.0  MW 02:40 PM - 04:10 PM   NAC201
3  ACT201        4.0  MW 04:20 PM - 05:50 PM   NAC210
4  ACT201        5.0  MW 09:40 AM - 11:10 AM   NAC201

In [44]:
y.head()

0     RNH
1     TsA
2     MdM
3    HHq1
4     ASy
Name: Faculty , dtype: object

# preprocessing

In [45]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [48]:
#changing all to string type

for i in range(2754):
    X['Course '][i] = str(X['Course '][i])
    X['Time '][i] = str(X['Time '][i])
    X['Room '][i] = str(X['Room '][i])
    #X['Section '][i] = int(X['Section '][i])
    y[i] = str(y[i])

In [49]:
X.head()

   Course   Section                     Time     Room
0  ACT201        1.0  MW 01:00 PM - 02:30 PM   NAC201
1  ACT201        2.0  MW 08:00 AM - 09:30 AM   NAC311
2  ACT201        3.0  MW 02:40 PM - 04:10 PM   NAC201
3  ACT201        4.0  MW 04:20 PM - 05:50 PM   NAC210
4  ACT201        5.0  MW 09:40 AM - 11:10 AM   NAC201

In [54]:
backupX = X.copy()
backupy = y.copy()

In [55]:
y.head()

0     RNH
1     TsA
2     MdM
3    HHq1
4     ASy
Name: Faculty , dtype: object

In [51]:
def labelEncoding(dfName,featureName):
    dfName[featureName] = le.fit_transform(dfName[featureName])
    return dfName.head()

In [63]:
X.keys()

Index(['Course ', 'Section ', 'Time ', 'Room '], dtype='object')

In [64]:
labelEncoding(X,'Course ')
labelEncoding(X,'Time ')
labelEncoding(X,'Room ')

In [65]:
X.head()

   Course   Section   Time   Room
0        7       1.0     46     29
1        7       2.0     53     54
2        7       3.0     49     29
3        7       4.0     51     38
4        7       5.0     54     29

In [69]:
y = le.fit_transform(y)

In [75]:
y

array([486, 677, 378, ..., 213, 213, 287])

# Model implementation

In [76]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_predict,cross_val_score
from sklearn.metrics import roc_auc_score,roc_curve
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_squared_error

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [85]:
logmodel = LogisticRegression()

In [86]:
logmodel.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').